Options +FollowSymlinks
RewriteEngine on

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 500 /500.html

RewriteRule ^index.php$					-							[L]
RewriteRule ^text.php$					-							[L]
RewriteRule ^404.html$					-							[L]
RewriteRule ^403.html$					-							[L]
RewriteRule ^500.html$					-							[L]
RewriteRule ^t/?$						/text.php					[L]
RewriteRule ^(.+)$						/index.php?r=$1				[L]
